header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: hsl(330, 71%, 66%);
    padding: 20px 20px;
    box-shadow:  0 5px 10px #000;
  }

header a {
    color: rgb(75, 9, 69);
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    border-radius: 4px;
  }

header a:hover {
    background-color: #0fb44e;
    color: rgb(75, 9, 69);
  }